<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="index.css">
    <title>My app</title>
</head>

<body>

    <header>
        <nav>
            <h1>My Blog</h1>
            <a href="/">Home</a>
            <a href="/about">About</a>

        </nav>
    </header>

    <main>
        <div class="form-container">
            <h2>Login</h2>

            <form method="post" action="/login">
                <label>Email</label>
                <input type="text" />

                <label>Password :</label>
                <input type="password" />

                <button>LOGIN</button>
            </form>
            <p>No account yet ? <a href="#">Create Acoount</a></p>
        </div>
    </main>

    >

</body>

</html>